/* hide scrollbar bit allow scrolling */

.column {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.column::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
}